.grouped-panel {
    padding: 3rem;
    border-radius: 0.6rem;
    position: relative;
}

    .grouped-panel > .panel-title {
        position: absolute;
        top: 1em;
        left: 50%;
        transform: translate(-50%, 0);
    }

@media (max-width: 735px) {
    .grouped-panel {
        padding: 3rem 1rem 1.5rem 1rem;
    }
}